APP_NAME=SeneBridge
APP_ENV=development
APP_DEBUG=true
APP_URL=http://localhost/SeneBridge/public
ASSET_URL=http://localhost/SeneBridge/public
APP_TIMEZONE=Africa/Dakar
APP_LOCALE=fr
APP_KEY=

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=senebridge
DB_USERNAME=root
DB_PASSWORD=

SESSION_NAME=senebridge_session
SESSION_LIFETIME=120
SESSION_SECURE=false
SESSION_SAMESITE=Lax

PASSWORD_MEMORY_COST=65536
PASSWORD_TIME_COST=4
PASSWORD_THREADS=1

MAIL_MAILER=log
MAIL_FROM_ADDRESS=no-reply@senebridge.sn
MAIL_FROM_NAME=SeneBridge
VERIFICATION_EMAIL_EXPIRY=120
PASSWORD_RESET_EXPIRY=60

UPLOAD_MAX_SIZE=10485760
MEDIA_MAX_SIZE=52428800

WAVE_BUSINESS_LINK=
WAVE_ENABLED=false

INVOICE_NUMBER_PREFIX=SB-