.env
node_modules/
/vendor/
.phpunit.cache/
/storage/private/*
/storage/logs/*
/storage/backups/*
/public/assets/*
!/public/assets/.gitkeep
!/public/assets/css/
!/public/assets/css/*
!/public/assets/js/
!/public/assets/js/*
!/storage/private/.gitkeep
!/storage/private/documents/
!/storage/private/documents/.gitkeep
!/storage/private/uploads/
!/storage/private/uploads/.gitkeep
!/storage/logs/.gitkeep
